# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/

# Logs
*.log

# Visual Studio
.vscode/
*.csproj
*.sln
*.user
*.unityproj

# Crash Reports
sysinfo.txt

# OS generated
.DS_Store
Thumbs.db
